{\A ["       d8888"
     "      d88888"
     "     d88P888"
     "    d88P 888"
     "   d88P  888"
     "  d88P   888"
     " d8888888888"
     "d88P     888"
     "            "
     "            "
     "            "]

 \a ["        "
     "        "
     "        "
     "  8888b."
     "    \"88b"
     ".d888888"
     "888  888"
     "\"Y888888"
     "        "
     "        "
     "        "]

 \B ["888888b.  "
     "888  \"88b "
     "888  .88P "
     "8888888K. "
     "888  \"Y88b"
     "888    888"
     "888   d88P"
     "8888888P  "
     "          "
     "          "
     "          "]

 \b ["888     "
     "888     "
     "888     "
     "88888b. "
     "888 \"88b"
     "888  888"
     "888 d88P"
     "88888P\" "
     "        "
     "        "
     "        "]

 \C [" .d8888b. "
     "d88P  Y88b"
     "888    888"
     "888       "
     "888       "
     "888    888"
     "Y88b  d88P"
     " \"Y8888P\" "
     "          "
     "          "
     "          "]

 \c ["         "
     "         "
     "         "
     "  d88888b"
     "d88P    Y"
     "888      "
     "Y88b.   d"
     " \"Y88888P"
     "         "
     "         "
     "         "]

 \D ["8888888b. "
     "888  \"Y88b"
     "888    888"
     "888    888"
     "888    888"
     "888    888"
     "888  .d88P"
     "8888888P\" "
     "          "
     "          "
     "          "]

 \d ["     888"
     "     888"
     "     888"
     " .d88888"
     "d88\" 888"
     "888  888"
     "Y88b 888"
     " \"Y88888"
     "        "
     "        "
     "        "]

 \E ["8888888888"
     "888       "
     "888       "
     "8888888   "
     "888       "
     "888       "
     "888       "
     "8888888888"
     "          "
     "          "
     "          "]

 \e ["        "
     "        "
     "        "
     " .d88b. "
     "d8P  Y8b"
     "88888888"
     "Y8b.    "
     " \"Y8888 "
     "        "
     "        "
     "        "]

 \F ["8888888888"
     "888       "
     "888       "
     "8888888   "
     "888       "
     "888       "
     "888       "
     "888       "
     "          "
     "          "
     "          "]

 \f [" .d888"
     "d88P\" "
     "888   "
     "888888"
     "888   "
     "888   "
     "888   "
     "888   "
     "      "
     "      "
     "      "]

 \G [" .d8888b. "
     "d88P  Y88b"
     "888    888"
     "888       "
     "888  88888"
     "888    888"
     "Y88b  d88P"
     " \"Y8888P88"
     "          "
     "          "
     "          "]

 \g ["        "
     "        "
     "        "
     " .d88b. "
     "d88P\"88b"
     "888  888"
     "Y88b 888"
     " \"Y88888"
     "     888"
     "Y8b d88P"
     " \"Y88P\"  "]

 \H ["888    888"
     "888    888"
     "888    888"
     "8888888888"
     "888    888"
     "888    888"
     "888    888"
     "888    888"
     "          "
     "          "
     "          "]

 \h ["888     "
     "888     "
     "888     "
     "88888b. "
     "888 \"88b"
     "888  888"
     "888  888"
     "888  888"
     "        "
     "        "
     "        "]

 \I ["8888888"
     "  888  "
     "  888  "
     "  888  "
     "  888  "
     "  888  "
     "  888  "
     "8888888"
     "       "
     "       "
     "       "]

 \i ["d8b" 
     "Y8P"
     "   "
     "888"
     "888"
     "888"
     "888"
     "888"
     "   "
     "   "
     "   "]

 \J ["  888888"
     "    \"88b"
     "     888"
     "     888"
     "     888"
     "     888"
     "     88P"
     "     888"
     "   .d88P"
     " .d88P\" "
     "888P\"   "]

 \j ["    d8b"
     "    Y8P"
     "       "
     "   8888"
     "   \"888"
     "    888"
     "    888"
     "    888"
     "    888"
     "   d88P"
     "888P\"  "]

 \K ["888    d8P "
     "888   d8P  "
     "888  d8P   "
     "888d88K    "
     "8888888b   "
     "888  Y88b  "
     "888   Y88b "
     "888    Y88b"
     "           "
     "           "
     "           "]
 \k ["888     "
     "888     "
     "888     "
     "888  888"
     "888 .88P"
     "888888K "
     "888 \"88b"
     "888  888"
     "        "
     "        "
     "        "]

 \L ["888     "
     "888     "
     "888     "
     "888     "
     "888     "
     "888     "
     "888     "
     "88888888"
     "        "
     "        "
     "        "]

 \l ["888"
     "888"
     "888"
     "888"
     "888"
     "888"
     "888"
     "888"
     "   "
     "   "
     "   "]

 \M ["888b     d888"
     "8888b   d8888"
     "88888b.d88888"
     "888Y88888P888"
     "888 Y888P 888"
     "888  Y8P  888"
     "888   \"   888"
     "888       888"
     "             "
     "             "
     "             "]

 \m ["             "
     "             "
     "             "
     "88888b.d88b. "
     "888 \"888 \"88b"
     "888  888  888"
     "888  888  888"
     "888  888  888"
     "             "
     "             "
     "             "]

 \N ["888b    888"
     "8888b   888"
     "88888b  888"
     "888Y88b 888"
     "888 Y88b888"
     "888  Y88888"
     "888   Y8888"
     "888    Y888"
     "           "
     "           "
     "           "]

 \n ["        "
     "        "
     "        "
     "88888b. "
     "888 \"88b"
     "888  888"
     "888  888"
     "888  888"
     "        "
     "        "
     "        "]

 \O [" .d88888b. "
     "d88P\" \"Y88b"
     "888     888"
     "888     888"
     "888     888"
     "888     888"
     "Y88b. .d88P"
     " \"Y88888P\" "
     "           "
     "           "
     "           "]

 \o ["        "
     "        "
     "        "
     " .d88b. "
     "d88\"\"88b"
     "888  888"
     "Y88..88P"
     " \"Y88P\" "
     "        "
     "        "
     "        "]

 \P ["8888888b. "
     "888   Y88b"
     "888    888"
     "888   d88P"
     "8888888P\" "
     "888       "
     "888       "
     "888       "
     "          "
     "          "
     "          "]

 \p ["        "
     "        "
     "        "
     "88888b. "
     "888 \"88b"
     "888  888"
     "888 d88P"
     "88888P\" "
     "888     "
     "888     "
     "888     "]

 \Q [" .d88888b. "
     "d88P\" \"Y88b"
     "888     888"
     "888     888"
     "888     888"
     "888 Y8b 888"
     "Y88b.Y8b88P"
     " \"Y888888\" "
     "       Y8b "
     "           "
     "           "]

 \q ["        "
     "        "
     "        "
     " .d88888"
     "d88\" 888"
     "888  888"
     "Y88b 888"
     " \"Y88888"
     "     888"
     "     888"
     "     888"]

 \R ["8888888b. "
     "888   Y88b"
     "888    888"
     "888   d88P"
     "8888888P\" "
     "888 T88b  "
     "888  T88b "
     "888   T88b"
     "          "
     "          "
     "          "]

 \r ["       "
     "       "
     "       "
     "888d888"
     "888P\"  "
     "888    "
     "888    "
     "888    "
     "       "
     "       "
     "       "]

 \S [" .d8888b. "
     "d88P  Y88b"
     " Y88b.    "
     "  \"Y888b. "
     "    \"Y88b."
     "      \"888"
     "Y88b  d88P"
     " \"Y8888P\" "
     "          "
     "          "
     "          "]

 \s ["        "
     "        "
     "        "
     ".d8888b "
     "88K     "
     "\"Y8888b."
     "     X88"
     " 88888P'"
     "        "
     "        "
     "        "]

 \T ["88888888888"
     "    888    "
     "    888    "
     "    888    "
     "    888    "
     "    888    "
     "    888    "
     "    888    "
     "           "
     "           "
     "           "]

 \t  ["888   "
      "888   "
      "888   "
      "888888"
      "888   "
      "888   "
      "Y88b. "
      " \"Y888"
      "      "
      "      "
      "      "]

 \U ["888     888" 
     "888     888"
     "888     888"
     "888     888"
     "888     888"
     "888     888"
     "Y88b. .d88P"
     " \"Y88888P\" "
     "           "
     "           "
     "           "]

 \u ["        "
     "        "
     "        "
     "888  888"
     "888  888"
     "888  888"
     "Y88b 888"
     " \"Y88888"
     "        "
     "        "
     "        "]

 \V ["888     888"
     "888     888"
     "888     888"
     "Y88b   d88P"
     " Y88b d88P "
     "  Y88o88P  "
     "   Y888P   "
     "    Y8P    "
     "           "
     "           "
     "           "]

 \v ["        "
     "        "
     "        "
     "888  888"
     "888  888"
     "Y88  88P"
     " Y8bd8P "
     "  Y88P  "
     "        "
     "        "
     "        "]

 \W ["888       888"
     "888   o   888"
     "888  d8b  888"
     "888 d888b 888"
     "888d88888b888"
     "88888P Y88888"
     "8888P   Y8888"
     "888P     Y888"
     "             "
     "             "
     "             "]

 \w ["             "
     "             "
     "             "
     "888  888  888"
     "888  888  888"
     "888  888  888"
     "Y88b 888 d88P"
     " \"Y8888888P\" "
     "             "
     "             "
     "             "]

 \X ["Y88b   d88P"
     " Y88b d88P "
     "  Y88o88P  "
     "   Y888P   "
     "   d888b   "
     "  d88888b  "
     " d88P Y88b "
     "d88P   Y88b"
     "           "
     "           "
     "           "]

 \x ["        "
     "        "
     "        "
     "888  888"
     "`Y8bd8P'"
     "  X88K  "
     ".d8\"\"8b."
     "888  888"
     "        "
     "        "
     "        "]

 \Y ["Y88b   d88P"
     " Y88b d88P "
     "  Y88o88P  "
     "   Y888P   "
     "    888    "
     "    888    "
     "    888    "
     "    888    "
     "           "
     "           "
     "           "]

 \y ["        "
     "        "
     "        "
     "888  888"
     "888  888"
     "888  888"
     "Y88b 888"
     " \"Y88888"
     "     888"
     "Y8b d88P"
     " \"Y88P\" "]

 \Z ["8888888888P"
     "      d88P "
     "     d88P  "
     "    d88P   "
     "   d88P    "
     "  d88P     "
     " d88P      "
     "d8888888888"
     "           "
     "           "
     "           "]

 \z ["        "
     "        "
     "        "
     "88888888"
     "   d88P "
     "  d88P  "
     " d88P   "
     "88888888"
     "        "
     "        "
     "        "]

 \! ["888"
     "888"
     "888"
     "888"
     "888"
     "Y8P"
     " \" "
     "888"
     "   "
     "   "
     "   "]

 \? [" .d8888b. "
     "d88P  Y88b"
     "     .d88P"
     "   .d88P\" "
     "   888\"   "
     "   888    "
     "          "
     "   888    "
     "          "
     "          "
     "          "]

 \, ["   "
     "   "
     "   "
     "   "
     "   "
     "   "
     "d8b"
     "88P"
     "8P "
     "\"  "
     "   "]

 \. ["   "
     "   "
     "   "
     "   "
     "   "
     "   "
     "d8b"
     "Y8P"
     "   "
     "   "
     "   "]

 \@ ["  .d8888888b."
     "d88P\"   \"Y88b"
     "888  d8b  888"
     "888  888  888"
     "888  888bd88P"
     "888  Y8888P\" "
     "Y88b.     .d8"
     " \"Y88888888P\" "
     "             "
     "             "
     "             "]

 \1 [" d888  "
     "d8888  "
     "  888  "
     "  888  "
     "  888  "
     "  888  "
     "  888  "
     "8888888"
     "       "
     "       "
     "       "]

 \2 [" .d8888b. "
     "d88P  Y88b"
     "       888"
     "     .d88P"
     " .od888P\" "
     "d88P\"     "
     "888\"      "
     "8888888888"
     "          "
     "          "
     "          "]

 \3 [" .d8888b. "
     "d88P  Y88b"
     ".     d88P"
     "    8888\" "
     "     \"Y8b."
     "888    888"
     "Y88b  d88P"
     " \"Y8888P\" "
     "          "
     "          "
     "          "]

 \4 ["    d8888 "
     "   d8P888 "
     "  d8P 888 "
     " d8P  888 "
     "d88   888 "
     "8888888888"
     "      888 "
     "      888 "
     "          "
     "          "
     "          "]

 \5 ["8888888888"
     "888       "
     "888       "
     "8888888b. "
     "     \"Y88b"
     "       888"
     "Y88b  d88P"
     " \"Y8888P\" "
     "          "
     "          "
     "          "]

 \6 [" .d8888b. "
     "d88P  Y88b"
     "888       "
     "888d888b. "
     "888P \"Y88b"
     "888    888"
     "Y88b  d88P"
     " \"Y8888P\" "
     "          "
     "          "
     "          "]

 \7 ["8888888888"
     "      d88P"
     "     d88P "
     "    d88P  "
     " 88888888 "
     "  d88P    "
     " d88P     "
     "d88P      "
     "          "
     "          "
     "          "]

 \8 [" .d8888b. "
     "d88P  Y88b"
     "Y88b. d88P"
     " \"Y88888\" "
     ".d8P\"\"Y8b."
     "888    888"
     "Y88b  d88P"
     " \"Y8888P\" "
     "          "
     "          "
     "          "]

 \9 [" .d8888b. "
     "d88P  Y88b"
     "888    888"
     "Y88b. d888"
     " \"Y888P888"
     "       888"
     "Y88b  d88P"
     " \"Y8888P\" "
     "          "
     "          "
     "          "]

 \0 [" .d8888b. "
     "d88P  Y88b"
     "888    888"
     "888    888"
     "888    888"
     "888    888"
     "Y88b  d88P"
     " \"Y8888P\" "
     "          "
     "          "
     "          "]

 \( ["  .d88"
     " d88P\""
     "d88P  "
     "888   "
     "888   "
     "Y88b  "
     " Y88b."
     "  \"Y88"
     "      "
     "      "
     "      "]


 \) ["88b.  "
     "\"Y88b "
     "  Y88b"
     "   888"
     "   888"
     "  d88P"
     ".d88P "
     "88P\"  "
     "      "
     "      "
     "      "]

 \: ["   "
     "   "
     "d8b"
     "Y8P"
     "   "
     "d8b"
     "Y8P"
     "   "
     "   "
     "   "
     "   "]

 \; ["   "
     "   "
     "   "
     "d8b"
     "Y8P"
     "   "
     "d8b"
     "88P"
     "8P "
     "\"  "
     "   "]

 \- ["      "
     "      "
     "      "
     "      "
     "888888"
     "      "
     "      "
     "      "
     "      "
     "      "
     "      "]
 }
