{\space [" "
         " "
         " "
         " "]

 \a ["   "
     " _."
     "(_|"
     "   "]

 \A ["    "
     " /\\ "
     "/--\\"
     "    "]

 \b ["   "
     "|_ "
     "|_)"
     "   "]

 \B [" _ "
     "|_)"
     "|_)"
     "   "]

 \c ["  "
     " _"
     "(_"
     "  "]

 \C [" _"
     "/ "
     "\\_"
     "  "]

 \d ["   "
     " _|"
     "(_|"
     "   "]

 \D [" _ "
     "| \\"
     "|_/"
     "   "]

 \e ["   "
     " _ "
     "(/_"
     "   "]

 \E [" _"
     "|_"
     "|_"
     "  "]

 \f ["  _"
     "_|_"
     " | "
     "   "]

 \F [" _"
     "|_"
     "| "
     "  "]

 \g ["   "
     " _ "
     "(_|"
     " _|"]

 \G [" __"
     "/__"
     "\\_|"
     "   "]

 \h ["   "
     "|_ "
     "| |"
     "   "]

 \H ["   "
     "|_|"
     "| |"
     "   "]

 \i [" "
     "o"
     "|"
     " "]

 \I ["___"
     " | "
     "_|_"
     "   "]

 \j ["  "
     " o"
     " |"
     "_|"]

 \J ["   "
     "  |"
     "\\_|"
     "   "]

 \k ["  "
     "| "
     "|<"
     "  "]

 \K ["  "
     "|/"
     "|\\"
     "  "]

 \l [" "
     "|"
     "|"
     " "]

 \L ["  "
     "| "
     "|_"
     "  "]

 \m ["     "
     "._ _ "
     "| | |"
     "     "]

 \M ["    "
     "|\\/|"
     "|  |"
     "    "]

 \n ["   "
     "._ "
     "| |"
     "   "]

 \N ["    "
     "|\\ |"
     "| \\|"
     "    "]

 \o ["   "
     " _ "
     "(_)"
     "   "]

 \O [" _ "
     "/ \\"
     "\\_/"
     "   "]

 \p ["   "
     "._ "
     "|_)"
     "|  "]

 \P [" _ "
     "|_)"
     "|  "
     "   "]

 \q ["   "
     " _."
     "(_|"
     "  |"]

 \Q [" _ "
     "/ \\"
     "\\_X"
     "   "]

 \r ["  "
     "._"
     "| "
     "  "]

 \R [" _ "
     "|_)"
     "| \\"
     "   "]

 \s ["  "
     " _"
     "_>"
     "  "]

 \S [" __"
     "(_ "
     "__)"
     "   "]

 \t ["   "
     "_|_"
     " |_"
     "   "]

 \T ["___"
     " | "
     " | "
     "   "]

 \u ["   "
     "   "
     "|_|"
     "   "]

 \U ["   "
     "| |"
     "|_|"
     "   "]

 \v ["  "
     "  "
     "\\/"
     "  "]

 \V ["    "
     "\\  /"
     " \\/ "
     "    "]

 \w ["    "
     "    "
     "\\/\\/"
     "    "]

 \W ["      "
     "\\    /"
     " \\/\\/ "
     "      "]

 \x ["  "
     "  "
     "><"
     "  "]

 \X ["  "
     "\\/"
     "/\\"
     "  "]

 \y ["  "
     "  "
     "\\/"
     "/ "]

 \Y ["   "
     "\\_/"
     " | "
     "   "]

 \z ["  "
     "_ "
     "/_"
     "  "]

 \Z ["__"
     " /"
     "/_"
     "  "]
 }
