{\space [" "
         " "
         " "
         " "
         " "
         " "
         " "
         " "
         " "
         " "
         " "
         " "]

 \A ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /::\\   "
     "   /  /:/\\:\\  "
     "  /  /:/~/::\\ "
     " /__/:/ /:/\\:\\"
     " \\  \\:\\/:/__\\/"
     "  \\  \\::/     "
     "   \\  \\:\\     "
     "    \\  \\:\\    "
     "     \\__\\/    "]

 \B ["              "
     "              "
     "     _____    "
     "    /  /::\\   "
     "   /  /:/\\:\\  "
     "  /  /:/~/::\\ "
     " /__/:/ /:/\\:|"
     " \\  \\:\\/:/~/:/"
     "  \\  \\::/ /:/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "]

 \C ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /:/    "
     "   /  /:/     "
     "  /  /:/  ___ "
     " /__/:/  /  /\\"
     " \\  \\:\\ /  /:/"
     "  \\  \\:\\  /:/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "]

 \D ["              "
     "     _____    "
     "    /  /::\\   "
     "   /  /:/\\:\\  "
     "  /  /:/  \\:\\ "
     " /__/:/ \\__\\:|"
     " \\  \\:\\ /  /:/"
     "  \\  \\:\\  /:/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "
     "              "]

 \E ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /:/_   "
     "   /  /:/ /\\  "
     "  /  /:/ /:/_ "
     " /__/:/ /:/ /\\"
     " \\  \\:\\/:/ /:/"
     "  \\  \\::/ /:/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "]

 \F ["            "
     "      ___   "
     "     /  /\\  "
     "    /  /:/_ "
     "   /  /:/ /\\"
     "  /  /:/ /:/"
     " /__/:/ /:/ "
     " \\  \\:\\/:/  "
     "  \\  \\::/   "
     "   \\  \\:\\   "
     "    \\  \\:\\  "
     "     \\__\\/  "]

 \G ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /:/_   "
     "   /  /:/ /\\  "
     "  /  /:/_/::\\ "
     " /__/:/__\\/\\:\\"
     " \\  \\:\\ /~~/:/"
     "  \\  \\:\\  /:/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "]

 \H ["              "
     "      ___     "
     "     /__/\\    "
     "     \\  \\:\\   "
     "      \\__\\:\\  "
     "  ___ /  /::\\ "
     " /__/\\  /:/\\:\\"
     " \\  \\:\\/:/__\\/"
     "  \\  \\::/     "
     "   \\  \\:\\     "
     "    \\  \\:\\    "
     "     \\__\\/    "]

 \I ["            "
     "            "
     "    ___     "
     "   /  /\\    "
     "  /  /:/    "
     " /__/::\\    "
     " \\__\\/\\:\\__ "
     "    \\  \\:\\/\\"
     "     \\__\\::/"
     "     /__/:/ "
     "     \\__\\/  "
     "            "]

 \J ["           "
     "    ___    "
     "   /  /\\   "
     "  /  /:/   "
     " /__/::\\   "
     " \\__\\/\\:\\  "
     "    \\  \\:\\ "
     "     \\__\\:\\"
     "     /  /:/"
     "    /__/:/ "
     "    \\__\\/  "
     "           "]

 \K ["              "
     "      ___     "
     "     /__/|    "
     "    |  |:|    "
     "    |  |:|    "
     "  __|  |:|    "
     " /__/\\_|:|____"
     " \\  \\:\\/:::::/"
     "  \\  \\::/~~~~ "
     "   \\  \\:\\     "
     "    \\  \\:\\    "
     "     \\__\\/    "]


 \L ["              "
     "              "
     "              "
     "              "
     "  ___     ___ "
     " /__/\\   /  /\\"
     " \\  \\:\\ /  /:/"
     "  \\  \\:\\  /:/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "
     "              "]

 \M ["              "
     "      ___     "
     "     /__/\\    "
     "    |  |::\\   "
     "    |  |:|:\\  "
     "  __|__|:|\\:\\ "
     " /__/::::| \\:\\"
     " \\  \\:\\~~\\__\\/"
     "  \\  \\:\\      "
     "   \\  \\:\\     "
     "    \\  \\:\\    "
     "     \\__\\/    "]

 \N ["              "
     "      ___     "
     "     /__/\\    "
     "     \\  \\:\\   "
     "      \\  \\:\\  "
     "  _____\\__\\:\\ "
     " /__/::::::::\\"
     " \\  \\:\\~~\\~~\\/"
     "  \\  \\:\\  ~~~ "
     "   \\  \\:\\     "
     "    \\  \\:\\    "
     "     \\__\\/    "]

 \O ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /::\\   "
     "   /  /:/\\:\\  "
     "  /  /:/  \\:\\ "
     " /__/:/ \\__\\:\\"
     " \\  \\:\\ /  /:/"
     "  \\  \\:\\  /:/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "]

 \P ["            "
     "      ___   "
     "     /  /\\  "
     "    /  /::\\ "
     "   /  /:/\\:\\"
     "  /  /:/~/:/"
     " /__/:/ /:/ "
     " \\  \\:\\/:/  "
     "  \\  \\::/   "
     "   \\  \\:\\   "
     "    \\  \\:\\  "
     "     \\__\\/  "]

 \Q ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /::\\   "
     "   /  /:/\\:\\  "
     "  /  /:/~/::\\ "
     " /__/:/ /:/\\:\\"
     " \\  \\:\\/:/__\\/"
     "  \\  \\::/     "
     "   \\__\\/      "
     "              "
     "              "]

 \R ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /::\\   "
     "   /  /:/\\:\\  "
     "  /  /:/~/:/  "
     " /__/:/ /:/___"
     " \\  \\:\\/:::::/"
     "  \\  \\::/~~~~ "
     "   \\  \\:\\     "
     "    \\  \\:\\    "
     "     \\__\\/    "]

 \S ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /:/_   "
     "   /  /:/ /\\  "
     "  /  /:/ /::\\ "
     " /__/:/ /:/\\:\\"
     " \\  \\:\\/:/~/:/"
     "  \\  \\::/ /:/ "
     "   \\__\\/ /:/  "
     "     /__/:/   "
     "     \\__\\/    "]

 \T ["            "
     "            "
     "      ___   "
     "     /  /\\  "
     "    /  /:/  "
     "   /  /:/   "
     "  /  /::\\   "
     " /__/:/\\:\\  "
     " \\__\\/  \\:\\ "
     "      \\  \\:\\"
     "       \\__\\/"
     "            "]

 \U ["              "
     "      ___     "
     "     /__/\\    "
     "     \\  \\:\\   "
     "      \\  \\:\\  "
     "  ___  \\  \\:\\ "
     " /__/\\  \\__\\:\\"
     " \\  \\:\\ /  /:/"
     "  \\  \\:\\  /:/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "]

 \V ["             "
     "             "
     "      ___    "
     "     /__/\\   "
     "     \\  \\:\\  "
     "      \\  \\:\\ "
     "  ___  \\__\\:\\"
     " /__/\\ |  |:|"
     " \\  \\:\\|  |:|"
     "  \\  \\:\\__|:|"
     "   \\__\\::::/ "
     "       ~~~~  "]

 \W ["              "
     "      ___     "
     "     /__/\\    "
     "    _\\_ \\:\\   "
     "   /__/\\ \\:\\  "
     "  _\\_ \\:\\ \\:\\ "
     " /__/\\ \\:\\ \\:\\"
     " \\  \\:\\ \\:\\/:/"
     "  \\  \\:\\ \\::/ "
     "   \\  \\:\\/:/  "
     "    \\  \\::/   "
     "     \\__\\/    "]

 \X ["              "
     "      ___     "
     "     /__/|    "
     "    |  |:|    "
     "    |  |:|    "
     "  __|__|:|    "
     " /__/::::\\____"
     "    ~\\~~\\::::/"
     "     |~~|:|~~ "
     "     |  |:|   "
     "     |  |:|   "
     "     |__|/    "]

 \Y ["            "
     "            "
     "      ___   "
     "     /__/|  "
     "    |  |:|  "
     "    |  |:|  "
     "  __|__|:|  "
     " /__/::::\\  "
     "    ~\\~~\\:\\ "
     "      \\  \\:\\"
     "       \\__\\/"
     "            "]

 \Z ["              "
     "      ___     "
     "     /  /\\    "
     "    /  /::|   "
     "   /  /:/:|   "
     "  /  /:/|:|__ "
     " /__/:/ |:| /\\"
     " \\__\\/  |:|/:/"
     "     |  |:/:/ "
     "     |  |::/  "
     "     |  |:/   "
     "     |__|/    "]


 }
